*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#eef8ee;
}

header{

background:#2f7d32;
padding:20px;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

}

nav h1{

color:white;

}

nav ul{

display:flex;
gap:20px;
list-style:none;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

height:90vh;

background:
linear-gradient(
rgba(0,0,0,.4),
rgba(0,0,0,.4)
),

url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854");

background-size:cover;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.hero h2{

font-size:60px;

}

.hero p{

margin:20px;

font-size:22px;

}

button{

padding:15px;

border:none;

border-radius:10px;

background:#57a639;

color:white;

cursor:pointer;

}

button:hover{

background:#3f7b29;

}

section{

padding:70px;

}

.cards{

display:flex;

gap:30px;

}

.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

input{

padding:15px;

margin:20px;

}

#resultado{

margin-top:20px;

font-size:22px;

color:green;

}

.curiosidades{

display:flex;

gap:20px;

}

#texto{

margin-top:30px;

font-size:20px;

}

footer{

background:#2f7d32;

color:white;

padding:25px;

text-align:center;

}